*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* upgrade */

#upgrade{
    width: calc(100% - 200px);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 200px;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#upgrade button{
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 11px;
    font-weight: 700;
    color: white;
    background-color: unset;
    border: solid white 1px;
    margin-right: 20px;
    transition: linear 0.02s;
}

#upgrade button:hover{
    transform: scale(1.2);
}

/* sidebar */

#sidebar{
    position: fixed;
    height: calc(100vh - 100px);
    left: 0;
    top: 0;
    width: 200px;
    background-color: black;
    z-index: 15;
    color: gray;
    display: flex;
    flex-direction: column;
}

#sidebar .padding-left{
    padding: 10px 20px;
}

#sidebar .row{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 180px);
}

/* sidebar logo */

#sidebar .logo{
    width: calc(200px - 30px);
    height: 80px;
    display: flex;
    align-items: center;
}

/* sidebar menu */

#menu .content:first-child{
    padding-left: 17px;
    border-left: 3px solid greenyellow;
}

#logo-small{
    display: none;
}

#menu{
    padding-bottom: 25px;
}

#menu .content{
    display: flex;
    align-items: center;
}

#menu .content.padding-left:hover{
    color: white;
}

#menu .content-right{
    width: calc(60% - 30px);
}

#menu .content-left{
    width: 15%;
    margin-right: 7px;
}

/* sidebar playlists */

#playlists{
    height: 100vh;
    min-height: 40px;
    overflow: auto;
}

#playlists h4{
    color: white;
}

#playlists .content a{
    display: flex;
    align-items: center;
}

#add-playlist{
    color: black;
    background-color: gray;
    width: 30px;
    height: 30px;
    margin: 5px 0px 5px 20px;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

#playlists .content h5{
    padding-left: 7px;
}

a{
    text-decoration: none;
    color: inherit;
}

#playlists .content a:hover #add-playlist{
    background-color: white;
}

a:hover{
    color: white;
}

/* installa app */

#installa-app a{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    align-self: flex-start;
}

#installa-app img{
    width: 15px;
    margin: 0px 5px 5px 15px;
}

#installa-app hr{
    width: 170px;
    height: 1px;
    background-color: gray;
    margin: 0 15px;
    border: none;
}

/* profile */


#profile{
    display: flex;
    align-items: center;
    align-self: flex-start;
}

#profile .propic{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    background-image: url(../img/profile.svg);
    margin: 20px 5px 20px 15px;
}

/* main */

main{
    background-color: #141922;
    width: calc(100% - 200px);
    margin-left: 200px;
    margin-bottom: 100px;
    padding: 90px 0;
    color: white;
}

main .row{
    margin: 30px auto;
}

#sezioni{
    color: gray;
    display: flex;
    justify-content: space-between;
    width: 768px;
    margin-bottom: 20px;
}

main .row:nth-child(1n + 2){
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 50px);
}

main .row:nth-child(1n + 2) .col:first-child{
    width: 100%;
}

main .row:nth-child(1n + 2) .col:nth-child(1n + 2){
    width: calc(100% / 6 - 30px);
    text-align: center;
    margin-top: 30px;
    margin-right: 30px;
    flex-wrap: wrap;
    min-width: 100px;
}

main .row:nth-child(1n + 2) .col:nth-child(1n + 2) .album-img{
    position: relative;
    width: 100%;
}

main .row:nth-child(1n + 2) .col:nth-child(1n + 2) img{
    width: 100%;
}

main .row:nth-child(1n + 2) .col:nth-child(1n + 2) h4{
    margin: 7px 0;
}

main .col h5 {
    color: gray;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 80px;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 0.2s linear;
}

.overlay i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.col:hover .album-img .overlay{
    opacity: 1;
}

.col.artista .album-img{
    border-radius: 50% 50% ;
    overflow: hidden;
}

/* footer */

#player{
    height: 100px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

#player .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

#player .col{
    min-width: 10px;
    height: 70px;
    /* background-color: red; */
    display: flex;
    align-items: center;
}

/* info track listened*/

#player .col:first-child h5{
    color: white;
}

#player .col:first-child h6{
    color: gray;
}

#player .col:first-child h6 a:hover{
    text-decoration: underline;
}

#player .col:first-child img{
    width: 70px;
    margin-left: 12px;
}

#player .col:first-child .name{
    margin-left: 8px;
}

#player .col:first-child .icons{
    color: gray;
    display: flex;
    margin-left: 12px;

}

#player .col:first-child .icons .icon{
    margin: 0 8px;
}

#player .col:first-child .icons .icon:hover{
    color: white;
}

/* command track listened  */

#player .col:nth-child(2) .contents{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player .col:nth-child(2) .up-content{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

#player .col .up-content i{
    margin: 8px;
}

#player .col:nth-child(2) .up-content i:nth-child(3){
    font-size: 30px;
    margin: 0 15px;
}

#player .col:nth-child(2) .down-content{
    display: flex;
    align-items: center;
}

#player .col:nth-child(2) .down-content .time{
    margin: 0 10px;
    color: white;
}

#player .col:nth-child(3){
    color: white;
    display: flex;
}

/* inputs */

input[type="range"]{
    appearance: none;
    height: 5px;
    background-color: gray;
    border-radius: 2.5px;
}

 input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background-color: white;
    display: none;
    transform: translate(0, -25%);
 }

 input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background-color: white;
    display: none;
 }

 input[type="range"]::-webkit-slider-runnable-track {
    appearance: none;
    height: 5px;
    border-radius: 2.5px;
    background-color: white;
 }

 input[name="time-bar"]{
    width: 30vw;
    margin-bottom: 2px;
    min-width: 300px
 }


 input[type="range"]:hover::-webkit-slider-thumb {
    display: block;
 }

/****************
md
****************/

@media screen and (max-width: 1024px){
    
}



/****************
s
****************/

@media screen and (max-width: 768px){
    

    /* footer */

    #player .col:first-child .icons{
        flex-direction: column;
    } 

    input[name="time-bar"]{
        min-width: 100px
    }

    #player .col:first-child img{
        min-width: 30px;
    }

    #player .col:nth-child(2) .up-content{
        justify-content: space-between;
        width: 100%;
        min-width: 100px;
    }
}


/****************
xs
****************/

@media screen and (max-width: 480px) {

    /* sidebar */

    #sidebar{
        width: 50px;
    }

    #sidebar .padding-left{
        padding: 5px 10px;
    }

    #sidebar .logo{
        width: 50px;
        height: 50px;
    }

    #logo-grande, #playlists, #installa-app h5, #installa-app hr, #profile .username{
        display: none;
    }

    #logo-small{
        display: inline-block;
        max-width: 25px;
    }

    #sidebar .row{
        justify-content: space-between;
        align-items: center;
    }

    #profile .propic{
        margin: 5px 0;
    }

    #installa-app img{
        margin: 7px;
    }
    
    #perphone{
        display: flex;
        flex-direction: column;

    }

    /* upgrade */

    #upgrade, main{
        width: calc(100% - 50px);
        left: 50px;
    }

    #menu .content-left{
        width: calc(100%);
        margin-right: 0;
        padding: 1px 4px 1px 0;
    }

    .content-right{
        display:none
    }

    #menu .content:first-child{
        padding-left: 10px;
        border-left: none;
    }

    /* main */

    main{
        width: calc(100% - 50px);
        margin-left: 50px;
    }


}